<div class="alert alert-info">
	<h3>Tippe mit deinen Freunden!</h3>
	<p>Du hast dich noch bei keiner Community angemeldet. Um tipp2 mit deinen Freunden spielen zu können, kannst du entweder eine neue Community erstellen oder einer bestehenden Community beitreten (hierfür brauchst du das Community-Passwort). </p>

	<div class="community_menu">
		<%= link_to "Community gründen", new_community_path, :class => "btn" %>
		<%= link_to "Community beitreten", join_path, :class => "btn" %>
	</div>
</div>