<div class="well">
	<h4>Meinungen? Vorschläge? Fehlermeldungen?</h4>
	<br>
	<p><a target="_blank" class="btn btn-success btn-large" href="http://blog.tipp2.net/?page_id=10">Feedback geben</a></p>
	<p>... im tipp2-Blog</p>
</div>