<div class="main_content">
	<h2>Neuigkeiten</h2>
	<p></p>
	<% @posts.each do |post| %>
		<%= post.created_at.strftime("%d.%m.%y %H:%M")%>
		<h4><%= post.headline %></h4>
		<p><%= truncate(simple_format(post.content), :length => 500, :separator => ' ') %>
		<% if post.content.length > 500 %>
			<%= link_to "mehr", post %>
		<% end %>
		</p>
	<% end %>
</div>