<h1>Das Fußball-Tippspiel</h1>
<p>Melde Dich an, tippe auf Spiele, sammel Punkte und beeindrucke deine Freunde mit Fussball-Sachverstand :-)</p>

<p><%= link_to "Jetzt registrieren", new_user_registration_path, :class => "btn btn-success btn-large" %></p>
<%= link_to "Schon registriert? Log in!",  user_session_path, :class => "zusatzlink" %>