<h1>Über das Projekt</h1>

<p>tipp2 ist ein klassisches Fussball-Tippspiel. Melde Dich an, tippe auf Spiele, sammel Punkte und gewinne gegen andere Spieler.</p>

<p>Diese Website ist ein privates Hobbyprojekt, welches ständig weiterentwickelt wird. Daher kann es immer wieder zu technischen Schwierigkeiten kommen, die ich schon jetzt entschuldige. Für Vorschläge, Kritik und Hilfe wird demnächst ein Feedback-Bereich eingerichtet.</p>