<h2>Über das Projekt</h2>

<p>tipp2 ist ein klassisches Fussball-Tippspiel. Melde Dich an, tippe auf Spiele, sammel Punkte und gewinne gegen andere Spieler.</p>

<p>Diese Website ist ein privates Hobbyprojekt, welches ständig weiterentwickelt wird. Daher kann es immer wieder zu technischen Schwierigkeiten kommen, die ich schon jetzt entschuldige. Ich kann leider keine Verantwortung für Datenverlust oder nicht korrekt funktionierende Tippabrechnungen übernehmen. Falls etwas nicht funktioniert, nehmt bitte Kontakt mit mir auf.</p>

<h4>Features</h4>

<p>Dieses Projekt ist 'work in progress'.Die aktuell vorliegende Version verfügt nur über absulte Basisfunktionen eines Tippspiels, zukünftig sollen weitere Features ergänzt werden, z.B.:</p>

<ul>
	<li>Neue Frontend-Oberfläche: Das bisherige Design ist im Programmierprozess entstanden und kann natürlich nicht überzeugen. Nach und nach werde ich die Optik der Seite verbessern.</li>
	<li>Communities: Spieler können Tipprunden gründen, um nur gegen ihre Freunde und nicht alle angemeldetetn Spieler zu tippen.</li>
	<li>Community-Bereich: Spieler können Nachrichten an ihre Community Posten. Diese können kommentiert werden.</li>
	<li>User Profile: Ändern von Benutzernamen, evt. Upload von Avatar-Fotos etc.</li>
	<li>Statistiken zu Tipps, Ergebnissen etc.</li>
	<li>...sowie eine ganze Reihe Änderungen "unter der Haupe" der Applikation</li>
</ul>

<h4>Technisches</h4>

<p>tipp2 ist eine Applikation basierend auf dem Web-Framework'<a href="http://rubyonrails.org/">Ruby on Rails</a>'. Als Basis für das Layout wurde <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap 2.0</a> verwendet.</p>

<h4>Feedback</h4>

<p>Ich freue mich sehr über Feedback von den Benutzern der Seite. Bitte meldet Euch bei mir wenn Dinge nicht funktionieren wie sie sollten, wenn die Bedienung der Seite unverständlich ist oder ihr Vorschläge für Verbesserungen und neue Features habt.</p>

<a class="btn btn-small" href="mailto:marc@22dev.de">
<i class="icon-envelope icon-large"></i>
E-Mail
</a>
