<h1>Admin Übersicht</h1>

<p>Willkommen im streng bewachten Kernstueck von 2Tipp!</p>

<h3>Menue</h3>

<div class="row">
	<div class="span4">

		<ul class="nav nav-list">
			<li><%= link_to "Spiele bearbeiten", games_path %></li>
			<li><%= link_to "Ergebnisse eintragen", :controller => "games", :action => "result_index"%></li>
		</ul>
	</div>
	<div class="span8">
	</div>
</div>
<br>
<p>Hier kommt spaeter eine Übersicht mit den aktuellen Spielen, um Ergebnisse direkt einzugeben.</p>