<div class="row">
	<div class="span8" id="welcome">
		<div class="hero-unit">
			<h1>2Tipp - Das Fussball Tippspiel</h1>
			<p>2Tipp ist ein klassisches Fussball-Tippspiel. Melde Dich an, tippe auf Spiele, sammel Punkte und gewinne gegen andere Spieler.</p>
			
			<% if user_signed_in? %>
				<p>
					<%= link_to "zur Tippabgabe", abgabe_path, :class => "btn btn-primary btn-large" %>
				</p>
			<% else %>
				<p>
					<%= link_to "Jetzt mitspielen", new_user_registration_path, :class => "btn btn-primary btn-large" %>
				</p>
					<%= link_to "Schon angemeldet? Log in!",  user_session_path, :class => "zusatzlink" %>
			<% end -%>
		</div>
	</div>

	<div class="span4">
		<h2>Neuigkeiten</h2>
		<p>Hier werden später Neuigkeiten zum Projekt stehen. Noch ist hier Blindtext untergebracht</p>

		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	</div>
</div>


