<h1>Neuigkeiten</h1>

<p>Letzte Neuigkeiten auf tipp2:</p>

<% @posts.each do |post| %>
	<div class="post">
		<i><%= post.created_at.strftime("%d.%m.%y %H:%M")%></i>
		<h2><%= post.headline %></h2>
		<p><%= truncate(post.content, :length => 300, :separator => ' ') %> 
			<% if post.content.length > 300 %>
				<%= link_to "mehr", post %></p>
			<% end %>
	</div>
<% end %>