/* Header */

#header {
  background-color: #F1F1F1;
  overflow: hidden;
  height: 70px;
}

/* Head Right */

#head_right {
  float: right;
  padding-right: 10px;
  padding-left: 20px;
  width: 40%;
}

#session_info  {
  float: right;
}

#session_info a {
  font-weight: bold;
}

#timenow {
  float: right;
  font-size: smaller;
}


/* Navigation */

#container ul#nav {
  overflow: hidden;
  float: left;
  height: 100px;
  margin: 0;
}

#nav li {
  float: left;
  font-size: 120%;
  font-weight: bold;
  margin-right: 20px;
  list-style-type: none;
}

#nav li a {
  margin-top: 50px;
  line-height: 20px;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

/* Main */

.main {
  margin-top: 20px;
  /*margin-left: 20px;
  margin-right: 20px;*/
}

/* Sign up or in */


.zusatzlink a {
  color: red;
  font-size: 10px;
  font-weight: 50;
}

/* Footer */

#footer {
  background-color: #F1F1F1;
  overflow: hidden;
  height: 40px;
  margin-top: 20px;
}

#footer_nav ul {
  float: left;
}

#footer_nav li {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  list-style-type: none;
}

/* Abgabe-Forms */

input#bet_home_bet {
  width: 15px;
}
input#bet_away_bet {
  width: 15px;
}
