/* Header */

#header {
  background-color: #F1F1F1;
  overflow: hidden;
  height: 150px;
}

#logo {
  float: left;
}

/* Head Right */

#head_right {
  float: right;
  padding-right: 10px;
  padding-left: 20px;
  width: 40%;
}

#session_info  {
  float: right;
}

#session_info a {
  font-weight: bold;
}

#timenow {
  float: right;
  font-size: smaller;
}


/* Navigation */

#navigation {
  margin-top: 120px;
}

#nav ul {

}

#nav li {
  float: left;
  font-size: 120%;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
}

#nav li a {
  margin-top: 50px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* Main */

.main {
  margin-top: 20px;
  /*margin-left: 20px;
  margin-right: 20px;*/
}

.container-fluid > .sidebar-right {
  float: right;
}

/* Sign up or in */


.zusatzlink a {
  color: red;
  font-size: 10px;
  font-weight: 50;
}

/* Footer */

#footer {
  background-color: #F1F1F1;
  overflow: hidden;
  height: 40px;
  margin-top: 20px;
}

#footer_nav ul {
  float: left;
}

#footer_nav li {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  list-style-type: none;
}

/* Abgabe-Forms */

input#bet_home_bet {
  width: 15px;
  margin-bottom: 0px;
}
input#bet_away_bet {
  width: 15px;
  margin-bottom: 0px;
}

form.new_bet {
  margin: 0 0 0px;
}

form.edit_bet {
  margin: 0 0 0px;
}
