<p>Hey <%= @resource.username %>, willkommen bei tipp2!</p>

<p>Um mitzuspielen, musst du deinen Account über den folgenden Link bestätigen:</p>

<p><%= link_to 'Account bestätigen', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
