<p>Hallo <%= @resource.username %>!</p>

<p>Dein tipp2-Account wurde aufgrund einer hohen Zahl an erfolglosen Login-Versuchen gesperrt.</p>
<p>Klicke den folgenden link, um deinen Account zu entsperren:</p>

<p><%= link_to 'Account entsperren', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
