<div class="row">
	<div class="span8">
		<div class="main_content">
			<h2>Neue Community gründen</h2>

			<p>Mit Communities kannst du tipp2 mit deinen Freunden spielen. Gehörst Du zu keiner Community, werden nur deine Tipps und deine Punkte angezeigt.</p>

			<p>Um eine Community zu gründen, denke Dir einen Namen aus und vergebe ein Passwort. Mit dem Namen und dem Passwort können andere Spieler deiner Community beitreten.</p>

			<p>Als Gründer der Community bist du gleichzeitig Administrator. Das heisst, du kannst den Namen und das Passwort der Community ändern. Ebenfalls kannst du Spieler aus der Community rauswerfen. Dies solltest du aber nur machen, wenn es hierfür einen triftigen Grund gibt.</p>

			<%= render 'form' %>
			
		</div>
	</div>
</div>

