 <div id="footer">
	<ul id="footer_nav">
		<li id="li_footer_nav"><%= link_to "Ueber das Projekt", about_path %></li>
		<li id="li_footer_nav"><%= link_to "Impressum", impressum_path %></li>
	</ul>
</div>